aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs
backports.entry-points-selectable==1.1.1
beautifulsoup4
bs4 
CacheControl==0.12.10
cachy==0.3.0
certifi 
cffi==1.15.0
chardet==4.0.0
charset-normalizer 
cleo==0.8.1
click
clikit==0.6.2
crashtest==0.3.1
cryptography==35.0.0
debugpy==1.2.1
discord==1.7.3
discord.py==1.7.3
distlib==0.3.3
docopt==0.6.2
et-xmlfile==1.1.0
filelock==3.3.2
Flask 
future==0.18.2
html5lib==1.1
idna==3.3
importlib-metadata
itsdangerous
jedi==0.18.1
jeepney==0.7.1
Jinja2
keyring==21.8.0
lockfile==0.12.2
MarkupSafe 
msgpack==1.0.2
multidict 
numpy 
openpyxl==3.0.10
packaging==20.9
pandas 
parso==0.8.3
pastel==0.2.1
pexpect==4.8.0
pipreqs-amasad==0.4.10
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==1.0.0
poetry==1.1.11
poetry-core==1.0.7
ptyprocess==0.7.0
pycparser==2.21
pyflakes==2.1.1
pylev==1.4.0
pyparsing==3.0.5
python-dateutil
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.4.1
pytz 
replit
requests 
requests-toolbelt==0.9.1
rope==0.18.0
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
soupsieve 
toml==0.10.2
tomlkit==0.7.2
typing-extensions 
ujson==5.3.0
urllib3 
virtualenv==20.10.0
webencodings==0.5.1
Werkzeug 
yapf==0.31.0
yarg==0.1.9
yarl 
zipp 
